body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 2;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#article1 {
  background-color: #FF530D;
}

#article2 {
  background-color: #E82C0C;
}

#article3 {
  background-color: #E80C7A;
}