body {
	text-align: justify-all;
	background-color: Yellow;
	div {
		width: 100px;
		height: 100px;
		border: 50px solid black;
		display: inline-flex;
		margin: 50px;
	}
	
h1	{
	font-family: Arial, san seriff;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	color: 255,0,0;
	font-weight: bold;
	font-size: 24px;
}
body{
	text-align: center;
	background: url("http://i/imgur.com/q0FaaAk.jpg");
	background-size: cover;
}
#title	{
	font-weight: bold;
	font-size: 30px;
}

#primary	{
	font-weight: bold;
	font-size: 24px;
}
.emphasize	{
	font-weight: normal;
	font-size: 18px;
}
.slightlyless	{
	font-weight: normal;
	font-size: 16px;
}