nav{
    background-color: #aaaaaa;
    font-family: Arial, sans-serif;
}
a{
    background-color: #ff7900;
    color: white;
    display: block;
    padding: 10px;
    width: 200px;
    text-decoration: none;
}
a:hover {
    background-color: #aaaaaa;
}