header {
    /*background-color: yellow;*/
    color: yellow;
    border: 3px white solid;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
}

body{
   background-image: url('../images/background.png'); 
   border: 3px white solid;
}

a {
    color: hotpink;
}

nav {
    /*background-color: gold;*/
    display: table;
    table-layout: fixed;
    text-align: center;
    padding: 20px;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 24px;
}

#two-column{
    /*background-color: rgb(255, 172, 198);*/
    padding: 20px;
}

#left{
   /* background-image: url('../images/sample.gif');
/*    background-color: rgb(100, 255, 198);*/
    color: red;
    padding: 10px; 
    float: left;
    width: 70%; 
    font-family: "Times New Roman", Times, Serif;
    font-style: italic;
    font-weight: bold;
    font-size:22px;
}

#right{
  /*background-color: rgb(255, 92, 77);*/
    color: yellow;
    padding: 10px;  
    float: right;
    width: 25%; 
    font-family: "Times New Roman", Times, Serif;
   font-style: oblique;
    font-weight: bold;
    font-size: 22px;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

article{
    /*background-color: orange;*/
    color: orange;
    padding: 20px;
    text-align: left;
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

aside{
    /*background-color: orange;*/
    color: orange;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

footer {
    /*background-color: orange;*/
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 18px;
}