header {
    background-color: yellow;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 28px;
}

nav {
    background-color: gold;
    border: 1px black solid;
    padding: 20px;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 24px;
}

#two-column{
    background-color: rgb(255, 172, 198);
    border: 1px black solid;
    padding: 20px;
}

#left{
  background-color: rgb(100, 255, 198);
    border: 3px black solid;
    padding: 10px; 
    float: left;
    width: 70%; 
    font-family: "Times New Roman", Times, Serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 18px;
}

#right{
  background-color: rgb(255, 92, 77);
    border: 3px black solid;
    padding: 10px;  
    float: right;
    width: 25%; 
    font-family: "Times New Roman", Times, Serif;
   font-style: oblique;
    font-weight: bold;
    font-size: 18px;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

article{
    background-color: orange;
    border: 3px black solid;
    padding: 20px;
    text-align: justify;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 24px;
}

aside{
    background-color: orange;
    border: 3px black solid;
    padding: 20px;
    text-align: justify;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 24px;
}

footer {
    background-color: orange;
    border: 3px black solid;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 20px;
}