body
{
	font-family: helvetica, georgia;
}
h1
{
	color: red;
	text-align: center;
	font-size: 30px;
}
#slogan	
{
	color: white;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 28px;
}
#introduction	
{
	color: yellow;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	font-size: 26px;
}
ul	
{
	color: yellow;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
}
address
{
	color: yellow;
	text-align: center;
	font-weight: normal;
	font-size: 24px;
}