body
{
	font-family: Arial, Helvetica, sans-serif;
}
h1
{
	color: red;
	text-align: center;
	font-size: 30px;
}
#wrapper{
	width: 1100px;
	margin: .5em auto;
}
#slogan	
{
	color: black;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 28px;
}
#introduction	
{
	color: yellow;
	text-align: left;
	font-weight: bold;
	font-style: normal;
	font-size: 26px;
}
ul	
{
	font-family: "Times New Roman", Times, serif;
	color: orange;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
}
ol
{
	font-family: "Times New Roman", Times, serif;
	color: black;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
}
address
{
	color: yellow;
	text-align: center;
	font-weight: normal;
	font-size: 24px;
}
span{
	background-color: gray;
}