header {
    color: black;
    border: 3px white solid;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 24px;
}

body{
   background: linear-gradient(to bottom right, yellow, white);
   border: 3px white solid;
   font-size: 24px;
}

a {
    color: hotpink;
     display: block;
  min-height: 100%;
  padding: 4px 10px;
  border-radius: 6px 6px 0 0;
  font-size: .9em;
}

nav {
    display: table;
    table-layout: fixed;
    text-align: center;
    padding: 10px;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: .9em;
}

li {
  display: table-cell;
  width: 25%;
  padding-right: 10px;
  height: auto;
  vertical-align: bottom;
  font-size: .9em;
}

#two-column{
    padding: 10px;
    font-size: 1.0em;
}

span{
    color: red;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: oblique;
    font-weight: bold;
    font-size: .9em;
}

#left{
    color: black;
    padding: 10px; 
    float: left;
    width: 70%; 
    font-family: "Times New Roman", Times, Serif;
    font-style: italic;
    font-weight: bold;
    font-size: .9em;
}

#right{
    color: black;
    padding: 10px;  
    float: right;
    width: 25%; 
    text-align: justify-all;
    font-family: "Times New Roman", Times, Serif;
   font-style: oblique;
    font-weight: bold;
    font-size: .9em;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

article{
    width: 50%;
    color: black;
    padding: 10px; 
    float: left;
    width: 70%; 
    font-family: "Times New Roman", Times, Serif;
    font-style: italic;
    font-weight: bold;
    font-size: .9em;
}

aside{
    width: 50%;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
    font-style: normal;
}

footer {
    color: black;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 24px;
}
@media screen only and (max-width: 1500px){
    body{
        float: none;
        font-size: .5em;
    }
}
@media screen only and (max-width: 750px){
    body{
        float: none;
        font-size: .5em;
    }

}
