header {
    /*background-color: yellow;*/
    color: black;
    border: 3px white solid;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
}

body{
   /*background-image: url('../images/background.png');*/ 
   background: linear-gradient(to bottom right, yellow, white); /* Standard syntax */
   border: 3px white solid;
}

a {
    color: hotpink;
     display: block;
  min-height: 100%;
  padding: 4px 10px;
  border-radius: 6px 6px 0 0;
}

nav {
    /*background-color: gold;*/
    display: table;
    table-layout: fixed;
    text-align: center;
    padding: 20px;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 24px;
}

li {
  display: table-cell;
  width: 25%;
  padding-right: 1px;
  height: auto;
  vertical-align: bottom;
}



#two-column{
    /*background-color: rgb(255, 172, 198);*/
    padding: 20px;
}

span{
    color: red;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
}

#left{
   /* background-image: url('../images/sample.gif');
/*    background-color: rgb(100, 255, 198);*/
    color: black;
    padding: 10px; 
    float: left;
    width: 70%; 
    font-family: "Times New Roman", Times, Serif;
    font-style: italic;
    font-weight: bold;
    font-size:22px;
}

#right{
  /*background-color: rgb(255, 92, 77);*/
    color: black;
    padding: 10px;  
    float: right;
    width: 25%; 
    text-align: justify-all;
    font-family: "Times New Roman", Times, Serif;
   font-style: oblique;
    font-weight: bold;
    font-size: 22px;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

article{
    /*background-color: orange;*/
    color: black;
    padding: 20px;
    text-align: left;
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

aside{
    /*background-color: orange;*/
    color: black;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

footer {
    /*background-color: orange;*/
    color: black;
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-size: 18px;
}
@media screen only and (max-width: 1500px) and (min-width: 350px){
    body{
        font-size: 12px;
    }

}
